{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <div class="home-title">
                <h1 class="mb-0">Ribble Valley Soap Co.</h1>
                <h5 class="tagline">Natural & Eco-Friendly soaps - handmade in Lancashire</h5>
            </div>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg py-3">Click here to view
                        our products</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}