{% extends "base.html" %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid text-center">
    <h1>Our Mission</h1>
    <p>At Ribble Valley Soap Co., we believe in creating high-quality, sustainable products...</p>

    <img src="" class="img-fluid my-4" alt="Mission Image">

    <p>We strive to make a difference by...</p>
</div>

{% endblock %}