{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted mt-2">My Details</p>
            <form method="POST" action="{% url 'profile' %}">
                {% csrf_token %}

                <!-- Crispy form errors -->
                {{ form.non_field_errors }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>

                {{ form.default_phone_number|as_crispy_field }}
                {{ form.default_street_address1|as_crispy_field }}
                {{ form.default_street_address2|as_crispy_field }}
                {{ form.default_town_or_city|as_crispy_field }}
                {{ form.default_county|as_crispy_field }}
                {{ form.default_postcode|as_crispy_field }}
                {{ form.default_country|as_crispy_field }}

                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'delete_account' %}" class="btn btn-danger">
                        Delete My Account
                    </a>
                    <button class="btn profile-btn text-uppercase">
                        Update Information
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted mt-2">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>OrderTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}