{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}404 Error{% endblock %}

{% block content %}
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="text-center home-title">
        <h1 class="mb-3">Oops! Page Not Found (404)</h1>
        <h5 class="tagline">It looks like this page doesn’t exist.</h5>
        <p class="lead">But don’t worry, you can find our handmade, eco-friendly soaps below.</p>
        <div class="my-4">
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg py-3">
                Browse Our Products
            </a>
        </div>
    </div>
</div>
{% endblock %}