{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <title>Ribble Valley Soap Co.</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="a handmade soap & shampoo bar e-shop">
    <meta name="keywords" content="Ribble Valley, soap, shampoo bar, Lancashire, handmade">
    <link rel="icon"
        href="https://res.cloudinary.com/dfjwzpcwf/image/upload/c_thumb,w_200,g_face/v1742420323/Ribble_Valley_Soap_CO._ozgpcl.webp"
        type="image/x-icon">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/bd2391129c.js" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toastElement = document.querySelector(".toast");
            if (toastElement) {
                var toast = new bootstrap.Toast(toastElement);
                toast.show();
                setTimeout(function () {
                    toast.hide();
                }, 5000);
            }
        });
    </script>
    {% endblock %}

    <title>Soap Co' {% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font text-black my-0">Ribble Valley Soap Co.</h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search the site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="{% url 'mission' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-leaf fa-lg"></i></i></div>
                                <p class="my-0">Mission</p>
                            </div>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fa-solid fa-soap fa-lg"></i></div>
                                <p class="my-0">Items</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                            <a href="{% url 'products' %}?category=soap" class="dropdown-item">Soaps</a>
                            <a href="{% url 'products' %}?category=shampoo_bars" class="dropdown-item">Shampoo Bars</a>
                            <a href="{% url 'products' %}?category=bundles" class="dropdown-item">Bundles</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link {% if grand_total %}bag-not-empty{% else %}bag-empty{% endif %}"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% if request.resolver_match.url_name == "home" %}
        <div class="row text-center offer text-dark py-2">
            <div class="col">
                <h4 class="my-0 offer">Buy 5 products and get a free 'Pendle Moor' soap!</h4>
            </div>
        </div>
        {% endif %}
    </header>


    {% if messages %}
    <div class="message-container">

        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="custom-footer text-center py-3 mt-5">
        <div class="container">
            <p class="mb-0">© 2025 Ribble Valley Soap Co. All rights reserved.</p>
            <p class="mb-0">
                <a href="" class="text-white">Privacy Policy</a> |
                <a href="" class="text-white">Terms & Conditions</a>
            </p>
            <p class="mb-0">
                Follow us:
                <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
    </footer>
    {% block postloadjs %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let backToTop = document.getElementById("backToTop");

            // Show button when scrolling down
            window.onscroll = function () {
                if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                    backToTop.style.display = "block";
                } else {
                    backToTop.style.display = "none";
                }
            };

            // Scroll smoothly to top when clicked
            backToTop.addEventListener("click", function () {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            });
        });
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            let toastElements = document.querySelectorAll('.toast');
            toastElements.forEach(toast => {
                new bootstrap.Toast(toast).show();
            });
        });
    </script>
    {% endblock %}


</body>

</html>